.maindiv {
  display: flex;
}
.editorwrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: 100vh; */
}
.profilewrap {
  width: 25%;
  height: 100vh;
  background-color: rgb(17, 18, 41);
  /* position: relative; */
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.up {
  display: flex;
  height: 80%;
  margin-left: 20px;
  margin-right: 20px;
  flex-direction: column;
  align-items: center;
}
.down {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 20px;
  height: auto;
  /* align-items: center; */
}

.clientList {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 10px; */
  flex-wrap: wrap;
  gap: 20px;
}

.copy {
  margin-bottom: 10px;
  background-color: #03a9f4;
}
.leave {
  background-color: burlywood;
}
.customization {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}
/* codemirror styling overriding*/
.CodeMirror {
  min-height: calc(90vh - 20px);
  max-width: 100vw;
  font-size: 20px;
  line-height: 1.5;
  padding-top: 20px;
}
.CodeMirror-wrap pre {
  word-break: break-word;
}
/* individual page style */
.client {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
/* logo style */
.content1 {
  font-size: 1.2vw;
  position: relative;
  margin-bottom: 100px;
  max-width: 50%;
}

.content1 h4 {
  color: #fff;
  font-size: 3em;
  position: absolute;
  transform: translate(-50%, -50%);
}

.content1 h4:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #03a9f4;
}

.content1 h4:nth-child(2) {
  color: #03a9f4;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}
